\.idea
cmd/zond/zond
cmd/zond/zond-cli
bazel-*
wallet/wallet_new.txt
zond
Footer
state/testdb2.txt
state/testdb.txt
metadata/testdb.txt
metadata/testdb2.txt
metadata/testdb3.txt
metadata/testdb4.txt
metadata/testdb5.txt
./.vscode